<h3>デフォルトライセンス</h3>
<p>あなたがサイトに作成またはアップロードするコンテンツのデフォルトライセンスを指定してください。それぞれのコンテンツの作成またはアップロード時、あなたはこの設定をオーバーライドすることができます。</p>
<p><strong>注意:</strong> すべてのコンテンツのデフォルトライセンスは標準的なコピーライトですが、あなたのコンテンツのために異なるライセンスを選択することができます。どのデフォルトライセンスを選択するのか分からない場合、特定のライセンスを要求している可能性がありますので、あなたの所属組織に確認してください。</p>
<p>どのライセンスを使用するのか不確かな場合、あなたの組織の弁護士または著作権法に詳しい弁護士にご相談ください。</p>
<p>あなたが複数インスティテューションのメンバーであり、「インスティテューションデフォルトを使用する」を選択した場合、あなたはデフォルトライセンスにしたいインスティテューションを選択することはできません。システムにより、1つのライセンスが選択されます。</p>