<h3>ページの編集時、コントロールにカラムの「追加」および「削除」ボタンを表示する</h3>
<p>ページの編集時、あなたは <img src="../../theme/raw/static/images/btn_addcolumn_left.png" alt="追加"> <img src="../../theme/raw/static/images/btn_removecolumn.png" alt="削除"> ボタン行を表示するかどうか選択できます。これらのボタンにより、ページのカラムを追加および削除することができます。</p>
<p>有効にしない場合でも、あなたはページのレイアウトセクションにて、ページのカラム数を変更することはできます。</p>