<h3>モバイルアップロードトークン</h3>
<p>あなたのモバイルデバイスのトークンを独立したフィールドに入力してください。[+]をクリックすることで、あなたは新しいフィールドを作成することができます。アップロードを可能にするため、それぞれのフィールドに1つのトークンを入力してください。</p>
<p>問題が発生した場合、ここで問題となるトークンおよびモバイルデバイス上の正常に動作しないトークンをリセットしてください。</p>
<p>strong>注意:</strong>: トークンは少なくとも半角英数字6文字にしてください。それぞれのアップロードの後、トークンは自動的に変更されます。また、あなたがアップロードしたコンテンツを通して、モバイルデバイス上のトークンも変更されます。</p>