<h3>ライセンス</h3>
<p>あなたがアップロードまたは作成したコンテンツのライセンスです。</p>
<p>あなた自身で作成したコンテンツに関して、他の人がどのように再利用するか、あなたが選択することができます。</p>
<p>他の人によって作成されたコンテンツに関して、あなたが再利用を許可されている旨、このサイト上に表示してください。</p>
<p><strong>注意:</strong> どのデフォルトライセンスを選択すれば良いのか分からない場合、コンテンツの作者にご相談ください。あなたが他の人のコンテンツを再利用する場合、あなた自身のコンテンツをアップロードする場合、デフォルトライセンスは標準的なコピーライトですが、あなたは異なるライセンスを選択することができます。また、あなたの所属組織は異なるライセンスの使用をあなたに要求することもできます。</p>
<p>疑わしい場合、あなたの組織の弁護士または著作権法に詳しい弁護士にご相談ください。</p>