<h3>グループタイプ</h3>
<p>あなたのグループ内で使用できるロールを選択することができます。</p>

<h4>標準グループ</h4>
<p>標準グループには管理者および一般的なメンバーを含むことができます。管理者はグループ、メンバーシップおよびパーミッションを管理します。一般的なメンバーはグループ設定およびメンバーシップを編集することはできませんが、グループに属しているページおよびファイルを編集することができます。</p>

<h4>コースグループ</h4>
<p>コースグループには一般的なメンバー管理者とともに、チューターを含むことができます。メンバーによる評価のためのページ送信をグループが許可する場合、チューターは送信されたページを評価して、作者にフィードバックを提供することができます。</p>