<h3>パブリックに閲覧可能なグループ</h3>
<p>このチェックボックスをチェックした場合、あなたのグループを訪問した人は誰でも、あなたのグループのほとんどのセクションを閲覧することができます - このサイトでアカウントを持っていないユーザも含みます。</p>
<p>誰でもフォーラムのすべてのディスカッションを閲覧することができます。しかし、フォーラムに投稿するには、グループのメンバーになる必要があります。グループメンバーリストの閲覧は、グループ管理者により制限することができます。</p>
<p>この設定にかかわらず、あなたのグループファイルエリア、およびグループファイルエリア内部のすべてのファイルはプライベートのままです。</p>