<h3>送信アーカイブを許可する</h3>
<p>これはオプション「送信を許可する」が有効にされていること、およびサイトがZIPファイルを作成できることに依存します。</p>
<p>一般的にポートフォリオページまたはコレクションをエクスポートできる場合、あなたはここでアーカイブすることができます。そうでない場合、あなたのサイト管理者にPHP ZIP拡張モジュールをサーバにインストールするよう、ご連絡ください。</p>