<h3>外部認証のユーザ名</h3>
<p>ユーザがサイト外部のサービスで認証される場合、このフィールドにはユーザのリモートサービスにおけるIDを含みます。ユーザはMahara内に複数のリモートユーザ名を保持することができますが、それぞれのリモートユーザ名は異なる外部認証方法に関連付けられる必要があります。</p>
<p>このフィールドの更新に関する現在のルールは下記のとおりです:</p>
<ul>
  <li>あなたがこのフィールドのコンテンツを消去して変更を保存した場合、選択した認証方法に関連付けられている外部ユーザはデフォルトユーザ名にリセットされます。</li>
  <li>あなたがこのフィールドのコンテンツを更新した場合、外部ユーザ名はこの認証方法にリセットされます。まだ存在しない場合、新しいユーザ名が作成されます。</li>
</ul>