<h3>ページの編集</h3>
<p>あなたはグループがオーナーであるページを作成および編集するためのロールを選択することができます。あなたのグループがメンバーおよび管理者のみ含む場合、「グループ管理者」および「一般メンバーを除く全員」は同一となります。</p>

<p>これらの編集パーミッションは新しいグループファイルに対するデフォルトとしても使用されます。グループファイルエリア内の個々のファイルのパーミッションを変更することはできます。</p>