<h3>スパム送信者保護観察ステータス</h3>
<p>この設定ではユーザを可能性のあるスパム送信者として保護観察するかどうかコントロールします。新しく自己登録されたユーザはアカウントに関して一定の「保護観察ポイント」から開始します。保護観察ポイントがある場合、ユーザは試用期間中であると判断され、ポートフォリオ内にパブリックページを作成すること、またコメント、ウォール、フォーラム投稿等の潜在的なパブリックコンテンツにリンクまたはイメージを投稿することができません。</p>
<p>試用期間中のユーザがフォーラムに投稿した場合、およびその投稿が非試用期間中のユーザに返信された場合、試用期間中のユーザは保護観察ポイントを1点失います。ポイント数がゼロに到達した場合、ユーザは試用期間中ではなくなります。</p>
<p>保護観察ポイントはスタッフまたは管理者の立場にあるユーザには影響しません。</p>