<h3>認証方法</h3>
<p>すべてのユーザは、サイトへの主認証方法を持つことになります。特別な場合において、ユーザは第2の認証方法を持ちますが、多くの場合、1つの認証方法のみを持ちます。</p>
<p>ここであなたは、このユーザがサイトに対して、どの認証方法を使用するか選択することができます。多くの場合、正しく設定されているため、あなたはこの設定を触る必要はありません。</p>
<p>状況次第で、あなたはユーザが以前使用していた認証方法と異なる認証方法を使用して、ユーザをMaharaに認証させる必要があります。例えば、ユーザがLDAPを使用していて、もはやLDAPサーバがそのユーザを知らない場合、そしてそのユーザが継続的に自分のアカウントにアクセスしたい場合、あなたはここで「内部 (インスティテューションなし)」のような他の認証方法を設定することができます。ユーザは、LDAPサーバを使用せず、直接サイトにログインすることができます - あなたは上記「パスワードのリセット」を使用して、ユーザの初期パスワードを設定する必要があります。</p>