<h3>デフォルトライセンス</h3>
<p>あなたのユーザがこのサイトに作成またはアップロードしたコンテンツのデフォルトのライセンスを指定するため、この設定を使用してください。</p>
<p>ユーザは「設定」ページおよび自分で作成またはアップロードした個々のアーティファクトにて、この設定をオーバーライドすることができます。</p>
<p><strong>注意:</strong> どのデフォルトライセンスを選択すれば良いのか分からない場合、あなたの組織の弁護士または著作権法に詳しい弁護士にご相談ください。</p>