<h3>認証プラグイン</h3>
<p>ここであなたはこのインスティテューションでユーザがどのようにサイト認証されるか選択することができます。インスティテューションは少なくとも1つの関連した認証方法をも持つ必要があります。</p>
<p><strong>内部</strong> 認証プラグインでは、ユーザ/パスワードに関して、サイトデータベースをチェックします。この認証に適合させるため、ユーザは登録フォーム経由のユーザ登録、または「a href="add.php" target="_blank">ユーザを追加する</a>」または「<a href="uploadcsv.php" target="_blank">CSVでユーザを追加する</a>」ページにて、アカウントが登録されている必要があります。</p>
<p><strong>なし</strong> 認証方法では、誰でもサイトに入ることができます。ユーザはどのようなユーザ名、パスワードでも使用することができます。この方法はテストのみに使用してください!</p>
<p>その他の認証方法はLDAPサーバまたはリモートアプリケーションのように、通常外部ソースに対して認証します。その他の認証方法では、あなたが認証方法を追加した後、ポップアップウィンドウで詳細設定することができます。必要なPHP拡張モジュールが存在しない場合、または外部ソースへの接続を確立できない場合、いくつかの認証方法は無効にされます。例えば、Persona認証プラグインはcURL PHP拡張モジュール、そして「verifier.login.persona.org」への接続にHTTPSを必要とします。</p>
<p>ユーザの最初のログイン時、サイト内でユーザアカウントが自動的に作成されるかどうかで、通常1つの設定が割り当てられます (反対に管理者によりアカウントが事前作成された場合、ユーザはそのままログインできます)。</p>