<h3>ドロップダウンナビゲーション</h3>
<p>ここで選択したドロップダウンメニューナビゲーションは<strong>このインスティテューション</strong>のみに影響します。サイトにおいて、ユーザが独自テーマを選択できる場合、そこでの設定はユーザに対してドロップダウンメニュー、タブのどちらを表示するか決定します。</p>

<p><strong>サイト設定</strong>にて、サイト全体のテーマが設定されている場合、そしてユーザが<strong>別のインスティテューションテーマ</strong>を選択できる場合、そこでの設定はナビゲーションがドロップダウンメニュー経由になるのか、タブ経由になるのか決定します。</p>