<h3>インスティテューションサイトページ</h3>
<p>ユーザのログイン時 (またはログアウトユーザのブラウザに前回ログインのMaharaインスティテューションクッキーが保持されている場合) に表示されるサイトページです。<strong>サイトデフォルト</strong>が選択された場合、サイトデフォルトのサイトページが表示されます。</p>
<p>どのインスティテューションのサイトページでも選択することができますが、あなたが管理者であるインスティテューションのインスティテューションサイトページのみ編集することができます。</p>