<h3>ライセンスアイコン</h3>
<p>あなたのサイトの他の場所または外部にあるイメージのURLを次のように指定することができます: http://... または https://...
<p>また、Maharaテーマのライセンスアイコンを次のように指定することもできます: license:... 例えば、テーマ内のファイル<pre>static/images/license/gfdl.png</pre>を指定する場合、URLは次のようになります:
<pre>license:gfdl.png</pre></p>