<h3>サイトマップを生成する</h3>
<p>チェックした場合、あなたのMaharaサイトに関して、外部からアクセスできるページすべてのコンピュータ解読可能なサイトマップを生成します。サーチエンジンに登録する場合に適しています。</p>
<p>サイトマップは<a href="http://www.sitemaps.org/">sitemaps.org</a>フォーマットによる一連のXMLファイルです。サイトマップの「インデックス」は「[yoursite]/download.php?type=sitemap」にあります。過去1日に更新されたページを含む一連の日々のサイトマップスナップショットを一覧表示します。</p>