<h3>ライセンスメタデータ</h3>
<p>チェックした場合、作成およびアップロードしたコンテンツすべてに関して、ユーザはライセンス情報の入力を要求されます。ライセンス情報にはライセンス、そして任意でライセンサおよびコンテンツのオリジナルURLを含みます。</p>
<p>ライセンスは(外部) ライセンスドキュメントのURLとして保存されます。サイト管理者がライセンス一覧を設定した場合、それらのライセンスに名称およびアイコンが表示されます。</p>