<h3>Enable Spamhaus URLブラックリスト</h3>

<p>Spamhausプロジェクトでは、 非営利および少ないデータトラフィックに対して、無料で利用できるURLブラックリストを提供しています。業務用データフィードサービスも利用できますが、Maharaではサポートされていません。このオプションを有効にする前に、Spamhaus DNSBL　<a href="http://www.spamhaus.org/organization/dnsblusage.html">利用規約</a>をお読みください。</p>