<h3>ユーザHTMLの外部リソースを無効にする</h3>

<p>この設定を有効にすることで、フォーラム投稿および他のHTMLコンテンツに関して、リモートサイトからのユーザによるイメージ埋め込みを防ぎます。</p>

<p>一方、セキュリティの観点から、この設定を有効にすることは利口なフィッシング攻撃を無効化することになります。</p>

<p>詳細は<a href="http://htmlpurifier.org/live/configdoc/plain.html#URL.DisableExternalResources">HTML Purifier documentation</a>をご覧ください。</p>