<h3>SMTPホスト</h3>
<p>あなたが使用しているサーバの代わりに特定のSMTPサーバの使用をサイトに強制したい場合、ここにホスト名を入力してください。</p>
<p>セミコロンで分離して、1台以上のホストを指定することができます (例 smtp1.example.com;smtp2.example.com)。ここで指定したサーバすべてに他の設定 (例 認証情報およびポート) が適用されることに留意してください。このリストではそれぞれのサーバに異なる認証情報を指定することはできません。この機能はSMTP認証が要求されない場合、または他の設定が動作するよう、あなたが同じメールサーバに異なるフロントエンドを配置する場合に有用です。</p>
<p>あなたのconfig.phpファイルによりオーバーライドする場合、このフィールドを無効にすることができます。</p>