<h3>テーマ</h3>
<p>複数のテーマがインストールされている場合、ドロップダウンメニューより、あなたのサイトに適用するテーマを選択することができます。このテーマは、ログアウトしたユーザに表示されるデフォルトテーマです。</p>
<p>インスティテューションでは、インスティテューションにログインしたユーザに表示するためのデフォルトテーマを設定することもできます。あなたは<a href="../users/institutions.php">インスティテューション</a>セクションにて、インスティテューションのテーマを設定することができます。</p>