<h3>イベントログ</h3>
<p>ページ編集等、ユーザがサイト内で重要な作業を実施するたびにイベントが生成されます。</p>
<p>これらのイベントは任意で保持することができます。あなたはすべてのイベントを保持することができますが、アクセスの多いサイトでは多くのデータおよびデータベース活動が発生します。または、「代理ログイン」機能を使って管理者がマスカレーディングを実施した場合のようなイベントのみにイベントの保持を限定することもできます。
このログはデータベース内のevent_logテーブルに保持されます。マスカレーディングセッションのレポートは「ユーザ検索」管理ページの「ユーザレポート」セクションにて閲覧することができます。</p>
<p>あなたがどのような設定を選択したとしても、すべてのイベントはアクセスログに記録されます。</p>