<h3>アンチスパム</h3>

<p>「お問い合わせ」または登録フォームのように、パブリック表示されるフォームに対して、3つのレベルのアンチスパムプロテクションを利用することができます。送信されたフォームが静かに拒否されることはありません。代わりに、送信がスパムに分類された場合、再度送信するよう、ユーザに求められます。</p>

<p><b>なし: </b>フォーム送信に対して、アンチスパムチェックは実行されません。</p>

<p><b>シンプル: </b>基本的なチェックが実行されます。適格ではないメールアドレス、または過度なURL数を含んだフォーム送信が拒否されます。</p>

<p><b>高度: </b>インターネット接続を必要とします。メールアドレスが実在するか、またはURLがブラックリストに含まれていないか判定するため、さらなるチェックが実行されます。</p>