<h3>Enable SURBL URLブラックリスト</h3>

<p>SURBLでは、 1000ユーザ以下の組織に対して、無料で利用できるURLブラックリストを提供しています。業務用データフィードサービスも利用できますが、Maharaではサポートされていません。このオプションを有効にする前に、SURBL
<a href="http://www.surbl.org/usage-policy.html">利用規約</a>をお読みください。</p>