<h3>リモートアバタを表示する</h3>

<p>このオプションが有効にされた場合、プロファイル写真を設定していないユーザの写真を表示するため、<a href="http://www.gravatar.com">Gravatar</a>オンラインサービスが利用されます。このサービスにより、すべてのMaharaサイトおよびオンラインサービス個々にプロファイル写真を設定するのではなく、Gravatarのみにプロファイル写真を設定することができます (Gravatarにユーザ写真が存在しない場合、デフォルトのMahara写真が表示されます)。</p>

<h4>無効にする理由</h4>

<p><b>ユーザが　(固定されたイントラネット等において)　広範囲のインターネットにアクセスできない場合</b>、インストール時、このオプションは無効にされるべきです。そのような環境では、Gravatarの使用により、単に余分な遅延が発生するのみとなります。</p>

<p>同様に、<b>https経由でサイトが表示される場合</b>、Gravatarプロファイル写真を有効にすることで、いくつかのブラウザでは、セキュリティ上の警告が表示されることになります。これは、暗号化されない一般的なhttp経由でGravatarイメージが提供されることに起因します。</p>

<h4>カスタムアバタサーバ</h4>

<p>Gravatarプロトコルを実装するカスタムアバタサーバを持っている場合、あなたのconfig.php内にベースURLを指定することができます:</p>

<p><code>$cfg->remoteavatarbaseurl = 'http://example.com/avatar/';</code></p>