<h3>ユーザ登録フォームのreCAPTCHA</h3>
<p>チェックした場合、チェックした場合、ユーザは自分が人間であることを証明するため、新しいアカウントの自己登録時にreCAPTCHAテストを通過する必要があります。
これにより、スパムアカウントが自動スクリプトにより作成されることを防ぎます。</p>
<p>この機能が動作するためには、あなたはreCAPTCHAサイトキーおよびシークレットキーを提供する必要があります。あなたはこれらのキーをreCAPTCHAウェブサイト、<a href="http://recaptcha.org">http://recaptcha.org</a>から取得することができます。</p>