<h3>更新内容を週に1回送信する</h3>
<p>あなたが、「更新内容を週に1回送信しますか?」をチェックした場合、あなたのサイトは週に1回、あなたのインストレーションに関する更新情報をmahara.orgに自動送信します。</p>
<p>送信される情報は、高いレベルの統計情報です - あなたのユーザに関する個人情報は一切送信されません。あなたのMaharaサイトを登録する前、あなたは送信される情報タイプを (管理ホームページにて) レビューすることができます。</p>