<h3>ログインユーザがプロファイルを閲覧できる</h3>
<p>あなたがすべてのユーザに他のユーザのプロファイルページを閲覧させたい場合、このオプションを有効にしてください。</p>
<p>このオプションのチェックが外された場合、最初すべてのログインユーザによりプロファイルページを閲覧することができますが、プロファイルページのオーナーが希望すれば、より小さなグループのみにアクセスを制限することができるようになります。</p>
<p>インスティテューションメンバーのプロファイルは、常に同一インスティテューション内の他のメンバーにより閲覧することができます。</p>