<h3>デフォルトの通知方法</h3>
<p>新しいユーザへの通知に使用される方法です。「受信箱」が設定された場合、通知はサイト上に保持されて、ユーザは通知を閲覧するために<a href="../../account/activity">受信箱</a>ページにログインする必要があります。
ユーザはこのプリファレンスを<a href="../../account/activity/preferences">通知設定</a>にて変更することができます。</p>