<h3>フレンドコントロール</h3>
<p>どのようにして、これらのユーザをユーザがフレンドリストに追加できるか選択してください。ユーザがフレンドリストに追加された場合、ユーザのフレンドリストに、そのフレンドリストのオーナーも追加されます。ユーザのフレンドリストからユーザを削除した場合、そのユーザのフレンドリストから、ユーザも削除されます。次の中からフレンドコントロールを選択してください:</p>
<p><strong>だれも私をフレンドとして追加できません:</strong> だれもこれらのユーザをフレンドリストに追加できません。</p>
<p><strong>新しいフレンドになるには、私の承認が必要です:</strong> ユーザをフレンドリストに追加するには、ユーザの承認が必要です。ユーザが承認した場合、そのユーザも別のユーザのフレンドリストに追加されます。</p>
<p><strong>新しいフレンドは、自動的に承認されます:</strong> だれでもこれらのユーザをフレンドリストに追加できます。</p>