<h3>HTMLエディタ</h3>
<p>サイト内のいくつかのセクションでは、HTMLエディタを使用することができます。これは、「What you see is what you get」 (WYSIWYG) エディタとして知られています。このエディタにより、ユーザはテキストにフォーマットを適用することができます (例 太字またはイタリックのテキスト)。HTMLエディタが無効にされた場合、ユーザはプレインテキストのみ入力することができます。</p>
<p><strong>注意:</strong> いくつかのブラウザでは、HTMLエディタの表示および動作に若干の違いがあります。</p>