<h3>レイアウトを選択する</h3>
<p>サムネイルでは、それぞれの利用可能なページレイアウトを構成する行および列を表示しています。</p>
<p>あなたのマウスポインタをそれぞれのサムネイル上に置くことで、行内のそれぞれの列幅をパーセンテージベースで表示することができます。レイアウトを選択するには、サムネイルをクリックしてください。</p>
<p>さらなるレイアウトのオプションに関して、「高度なオプション」をご覧ください。</p>