<h3>カスタムレイアウトを作成する</h3>
<p>あなたは複数の列で構成される自分で選択したカラム配置の新しいカスタムページを追加することができます。</p>
<p>新しい行を追加するには「行を追加する」をクリックしてください。また、その行のカラム配置を選択するには、ドロップダウンボックスを使用してください。あなたの新しいレイアウトがサムネイルイメージに表示されます。</p>
<p>あなたのデザインに満足できた場合、「新しいレイアウトを作成する」ボタンをクリックして、新しいレイアウトを追加してください。あなたのカスタムレイアウトが作成され、選択された状態になります。このページに対するあなたのレイアウト選択を保存するには、ページ下部の「保存」をクリックしてください。</p>
<p>今後のページレイアウト編集時、「高度なオプション」にて、あなたの新しいレイアウトを使用することができます。</p>