<h3>アップロード時、大きなイメージをリサイズする</h3>
<p>この設定を有効にした場合、指定された高さおよび幅を超えるイメージすべてはサイズ制限に合致するよう、リサイズされます。</p>
<p>ウェブブラウザでイメージが正常に表示されるよう、この設定を強くお勧めします。非常に大きなイメージ (例 デジタルカメラから直接取得したファイル) はブラウザでのアップロードが遅く、不要なディスクスペースを使用します。結果として、あなたのディスククオータを短期間で埋めてしまうことになります。また、一般的なモニタでの閲覧に関して、認識できるメリットはありません。</p>
<p>しかし、あなたが印刷のためにイメージを共有したい場合、<strong>リサイズなし</strong>にオリジナルをアップロードすることもできます。</p>
<p>このオプションに関するデフォルト設定は、あなたの「設定」ページにて選択することができます。</p>