<h3>ページアクセスを編集する</h3>
<p>ここでは、「誰が、いつ」あなたのページを閲覧することができるかコントロールできます。デフォルトでは、あなたのページをあなたのみ閲覧することができます。適切な追加ボタンをクリックすることで、あなたはパブリック、ログインユーザおよびフレンドを追加することができます。また、検索ツールを使用することで、あなたは個別のグループまたはユーザのアクセスを割り当てることができます。</p>
<p>学期、プロジェクトまたは1日であっても、あなたのページを利用可能にするアクセス日時を割り当てることができます。すべての日付は、任意の設定項目です。誰かに合致する、1つ以上のルールを追加した場合、ページへのアクセスに関して、1つのルールのみ合致することで、ユーザはページにアクセスできます。</p>
<p><strong>例:</strong> Nigelは「COOLピープルクラブ」グループに属しています。あなたのページに対して、彼に今日のアクセスを許可、同時に「COOLピープルクラブ」に明日のアクセスを許可した場合、彼は今日および明日の両日、ページにアクセスすることができます。</p>