<h3>受信箱</h3>
<p>これは、あなたに通知されるシステム活動またはイベントのリストです。これらの通知をどのように受信するか、「活動プリファレンス」エリアで設定してください。通知を読んだ後、あなたの通知リストより、その通知を削除するようマークすることができます。</p>
<p><strong>注意:</strong> 60日後、自動的に既読通知の有効期限が切れ、あなたの通知リストから削除されます。</p>