<h3>通知</h3>
<p>あなたは、それぞれの活動タイプにおいて、どのように通知を受信するか選択することができます。</p>
<h4>通知タイプ</h4>
<p><strong>受信箱:</strong> あなたの通知エリアに、受信した活動通知が一覧表示されます。</p>
<p><strong>メール:</strong> 活動が発生するたび、あなたの主メールアドレス宛にメール送信されます。</p>
<p><strong>メールダイジェスト:</strong> あなたの主メールアドレス宛に、過去24時間の活動一覧が毎日メール送信されます。</p>
<p><strong>注意:</strong> あなたがどちらかのメールオプションを選択した場合、すべての活動が発生するたび、あなたの通知ログにも記録されます。記録されたログは、既読としてマークされます。これらの通知は、60日後に有効期限が切れ、あなたのログから自動的に削除されます。</p>

<h4>活動タイプ</h4>
<p><strong>システムメッセージ:</strong> システムによって自動的に生成されるか、サイト管理者によって、あなたに送信されたメッセージです。</p>
<p><strong>他のユーザからのメッセージ :</strong> サイト内の他のユーザから、あなたに直接送信されたメッセージです。</p>
<p><strong>フィードバック:</strong> あなたのeポートフォリオ内のページ、アーティファクトまたは日誌に対して、フィードバックまたはコメントが登録された場合、受信する通知です。</p>
<p><strong>ウォッチリスト:</strong> あなたがモニターしているアーティファクト、ページ、グループまたは日誌の活動に関する通知です。</p>
<p><strong>新しいページアクセス:</strong> あなた自身、またはあなたのグループに対して、新規または既存の非パブリックページへのアクセス権が与えられた場合の通知です。</p>