<h3>設定</h3>
<p>設定エリアでは、あなたがどのようにサイトを使用するか、どのように重要な情報および通知を受信するか設定します。</p>
<p>あなたのサイト管理者が設定したアカウント有効期限に従い、アカウントは自動的に有効期限切れとなります。あなたには、近付きつつあるアカウントの有効期限切れが警告され、あなたのポートフォリオの保存方法が伝えられます。</p>
<p><strong>注意:</strong> それぞれの変更は、セクション下部にある「保存」ボタンをクリックして保存するようにしてください。</p>