<h4>フィードバックを投稿する</h4>
<p>プライベートフィードバックがページのオーナーのみに表示されるのに対して、パブリックフィードバックはページにアクセスしたすべてのユーザに表示されます。ページのオーナーは、パブリックフィードバックをプライベートに変更することができます。</p>
<h4>好ましくない内容を報告する</h4>
<p>管理者に対して、あなたが好ましくないと思うコンテンツを報告することができます。</p>
<h4>プリント</h4>
<p>プリントオプションでは、プリンタフレンドリな書式でページを印刷することができます。</p>
<h4>ウォッチリストにページを追加する</h4>
<p>あなたがウォッチリストにページを追加した場合、執筆者によるページコンテンツの更新時、あなたに通知が送信されます。</p>