<h3>スキンを作成する</h3>
<p>
あなたは独自のスキンを作成して、背景を追加すること、テキストおよびリンクおよびフォント色を選択すること、テーブルおよびボタンのスタイルを変更することができます。あなたにCSSに関する知識がある場合、さらに柔軟に独自のCSSを追加することもできます。
</p>
<p>
画面上の様々なオプションを選択して確認した後、変更してください。あなたは確認するために、ページのために作成したスキンを簡単に適用することができます。
</p>
<p>
あなたのスキンを共有したい場合、「スキンアクセス」にて公開してください。他のユーザもあなたのスキンをページに適用することができます。
</p>