<h3>スキンをインポートする</h3>
<p>
あなたは他のMaharaサイトからスキンをインポートすることができます。あなたは最初からスキンを作成する必要はありませんが、既存のスキンをベースにして作成することもできます。
</p>
<p>
あなたは他の人が作成したスキンを<a href="https://wiki.mahara.org/index.php/Page_skins" target="_blank">Mahara wiki</a>で確認することができます。
</p>