<h3>スキン</h3>
<p>
スキンはあなたのポートフォリオページの概観をカスタマイズして、独自デザイン (ersonal touch) にするために役立ちます。
</p>
<p>
あなたは背景を追加すること、テキスト色、フォント、ボタンを追加すること、またあなた独自のカスタムCSSを追加することもできます。
</p>
<p>
他の人がスキンを作成して、あなたが利用できるようにした場合、あなたはこのページで確認することができます。あなたのページで利用できるよう、あなたのお気に入りにスキンを追加することができます。</p>
<p>あなたは他のMaharaインスタンスよりスキンをインポート、または他の人と共有するためにあなたのスキンをエクスポートすることができます。</p>