<h3>外部ギャラリーURL</h3>

<p>外部ギャラリーを埋め込むには、あなたは外部ギャラリーのリンクをコピーした後、テキストエリアに貼り付ける必要があります。</p>

<p>次の外部ギャラリーを埋め込むことができます:
<ul>
<li>Flickr - 例) https://www.flickr.com/photos/12345678@N01/sets/98765432123456789/</li>
<li>Picasa - 例) http://picasaweb.google.com/user.name/AlbumName#</li>
<li>Panoramio - 例) http://www.panoramio.com/user/123456</li>
<li>Photobucket - 例) http://s1234.photobucket.com/albums/ee123/username/ or http://s1234.photobucket.com/albums/ee123/username/AlbumName/</li>
<li>Windows Liveフォトギャラリー - 例) http://cid-123456ab7890cd12.photos.live.com/self.aspx/AlbumName/photo.jpg</li>
</ul>
</p>

<p><b>メモ:</b>
<ul>
<li>Flickrを使用するには、サイト管理者は有効なAPIキーを提供する必要があります。</li>
<li>Photobucketを使用するには、サイト管理者は有効なAPIキーおよびシークレットAPIキーを提供する必要があります。</li>
<li>Windows Liveフォトギャラリーを正常に動作させるには、アルバム全体を表示するため、アルバム内の写真の1つのリンクをコピーした後、テキストエリアに貼り付ける必要があります。</li>
</ul>
</p>