<h3>フォーラムインデントモード</h3>
<p><strong>完全に広げる:</strong> すべてのフォーラム投稿を親/子の順番で表示します。フォーラム投稿への返信はその投稿の子として追加されます。</p>
<p><strong>最大まで広げる:</strong> フォーラム投稿を親/子の順番で「最大インデントレベル」の値で指定されている最大深度まで表示します。フォーラム投稿への返信はその投稿の子として追加されます。</p>
<p><strong>インデントなし:</strong> フォーラム投稿を年代順に表示します。フォーラムへの返信はフォーラムスレッドの最後に追加されます。</p>