<h3>許可済みiframeソース</h3>

<p>この一覧内のサイトの1つまたはそれ以上に対してソースURLの先頭が合致しない限り、ユーザによって入力された &lt;iframe&gt; タグのソースすべてはページ表示時に取り除かれます。</p>

<p>サイト上で悪意のあるiframeコンテンツが提供される危険性を減らすには、あなたが許可したいソースURLの先頭すべてに合致する場合でも、可能な限りこれらの文字列を長くしてください。</p>

<p>このページに新しいサイトを追加した場合、あなたが入力したテキストをもとにサイトのファビコン (favicon) 用ホストが推測され、そのホストがアイコンに使用されます。新しいサイトを追加した後、あなたは「編集」ボタンをクリックしてファビコンを変更することができます。</p>