<h3>インスティテューション固定ページ</h3>
<p>サイトまたはインスティテューション管理者はあなたのサイトの内蔵ページを動的に編集することができます。デフォルトテキストから内蔵ページのコンテンツ (About、ホーム、ログアウトホーム、プライバシー保護方針、使用条件) をカスタマイズしたい場合、あなたが編集したいページを選択した後、エディタを使用して編集してください。他の編集可能なページまたは既存の固定ページエリアを読み込む前に、忘れずに変更を保存してください。</p>
<p>ここでの変更はあなたのインスティテューションのメンバーに表示されるページコンテンツに反映されます。変更は他のインスティテューションのメンバーには表示されません。</p>
<p>特定ページで「サイトデフォルトを使用する」をチェックした場合、インスティテューションメンバーに対して、あなたのインスティテューションのカスタム版ではなく、サイトデフォルト版のページが表示されます。</p>