<h3>ライセンス</h3>

<p>ここで設定するライセンスには3つの役割があります:
<ul>
<li>URLの代わりに、コンテンツに表示名、頭字語およびアイコンが表示されます。</li>
<li>「サイトオプション」の「一般設定」にて「ライセンスメタデータ」がチェックされた場合、ユーザのコンテンツ作成時にライセンスが表示されます。</li>
<li>「サイトオプション」の「一般設定」にて「カスタムライセンスを許可する」がチェックされていない限り、ここに設定されたライセンスにユーザは制限されます。</li>
</ul></p>