<h3>固定ページ</h3>
<p>サイト管理者はサイトのコアページを動的に編集することができます。デフォルトテキストからコアページのコンテンツ (About、ホーム、ログアウトホーム、プライバシー保護方針、使用条件) をカスタマイズしたい場合、あなたが編集したいページを選択した後、エディタを使用して編集してください。他の編集可能なページまたは既存の固定ページエリアを読み込む前に、忘れずに変更を保存してください。</p>
<p>インスティテューションメンバーのため、インスティテューション管理者はインスティテューション固定ページ機能を使用して、これらのページのコンテンツを上書きすることができます。</p>