<h3>添付ファイル</h3>
<p>あなたのファイルエリアに保存されているファイルをレジュメに添付したい場合、所要のファイルのため、あなたのリポジトリを閲覧することができます。</p>
<p>あなたのファイルフォルダ構成を確認して、所要のファイルを選択してください。</p>
<p>あなたのコンピュータから、新しいファイルをアップロードすることもできます。新しくアップロードされたファイルは、あなたのファイルエリアに保存され、同時にレジュメにも添付されます。</p>