<h3>ユーザ厳密検索</h3>

<p>あなたのサイトに多くのユーザが登録されていて、なおかつPostgreSQLデータベースを使用している場合、ユーザ厳密検索を有効にした方が検索スピードが速くなります。この設定はMySQLデータベースでも動作しますが、検索パフォーマンスを著しく向上させることは期待できません。</p>

<p>プロファイルフィールドの部分的一致では検索結果が返されないため、例えばあなたがユーザ「Nigel」を検索する場合、「Nige」と検索ボックスに入力したとしても、そのユーザを探すことができないようになります。</p>