<h3>埋め込み方法</h3>

<h4>Googleドキュメント</h4>

<p>Google Apps for Educational domains: 個々のファイルの共有は一般的なGoogle Appsアカウントと同じです。</p>
<p>インスティテューション内のみであなたのファイルを共有できるよう、インスティテューション管理者がGoogle Appsを設定することができます。<br />この場合、閲覧者にはGoogle Appsログイン画面が表示され、Google Appsへのログイン後に埋め込みファイルを閲覧できるようになります。</p>

<p><strong>テキストドキュメント</strong></p>
<ol>
<li>Googleドキュメントのテキストドキュメントを開いてください。</li>
<li>ページ右上にある「共有」をクリックして、 「ウェブ上に一般公開」を選択してください。
<br />
<strong>または</strong>あなたが新しいインターフェースを使用している場合:<br />
「共有」をクリックして、「ウェブ上で一般公開」をクリックしてください。あなたはページ右上にある「共有」ボタンをクリックして、共有オプションを設定する必要はありません。
</li>
<li>「一般公開開始」ボタンをクリックしてください。</li>
<li>「ドキュメントリンク」または「埋め込みコード」をコピーしてください。</li>
<li>コピーしたものをGoogleAppsブロックに貼り付けてください。</li>
</ol>
<p><strong>スプレッドシート</strong></p>
<ol>
<li>Googleドキュメントのスプレッドシートを開いてください。</li>
<li>ページ右上にある「共有」をクリックして、 「ウェブ上に一般公開」を選択してください。</li>
<br />
<strong>または</strong>あなたが新しいインターフェースを使用している場合:<br />
「共有」をクリックして、「ウェブ上で一般公開」をクリックしてください。あなたはページ右上にある「共有」ボタンをクリックして、共有オプションを設定する必要はありません。
</li>
<li>「一般公開開始」ボタンをクリックしてください。</li>
<li>「ドキュメントリンク」または「埋め込みコード」をコピーしてください。</li>
<li>コピーしたものをGoogleAppsブロックに貼り付けてください。</li>
</ol>
<p><strong>プレゼンテーション</strong></p>
<ol>
<li>Googleドキュメントのプレゼンテーションを開いてください。</li>
<li>ページ右上にある「共有」をクリックして、 「ウェブ上に一般公開」を選択してください。</li>
</li>
<li>「一般公開開始」ボタンをクリックしてください。</li>
<li>「ドキュメントリンク」または「埋め込みコード」をコピーしてください。</li>
<li>コピーしたものをGoogleAppsブロックに貼り付けてください。</li>
</ol>
<p><strong>コレクション</strong></p>
<ol>
<li>Googleドキュメント内のページ左側にある「マイコレクション」または「共有コレクション」をクリックしてください。</li>
<li>あなたが埋め込みたいコレクションをクリックすることで選択してください。</li>
<li>ページ右上にある「共有」をクリックして、「共有設定」を選択してください。</li>
<li>権限を「ウェブ上で一般公開」に変更した後、変更内容を保存してください。</li>
<li>テキストボックスからリンクをコピーしてください。</li>
<li>コピーしたものをGoogleAppsブロックに貼り付けてください。</li>
</ol>
<p><strong>Googleドキュメントビューア</strong></p>
<p>この機能はGmailのプレビューのように動作します。インターネットより直接アクセスできるよう、あなたはファイルを埋め込むことができます。あなたはファイルにアクセスできる (ファイル名を含む) 完全なURLをGoogleAppsブロックに貼り付ける必要があります。</p>
<p><strong>あなたが新しいインターフェースを使用している場合</strong>、最初にドキュメントを公開する必要があります:<br />
ページ右上にある「共有」をクリックして、「共有設定」を選択してください。「共有」をクリックして、「ウェブ上で一般公開」をクリックしてください。あなたはページ右上にある「共有」ボタンをクリックして、共有オプションを設定する必要はありません。
</p>
<p>現在、Googleドキュメントビューアは次のファイルタイプ埋め込みのみサポートしています: PDF, TIFF, PPT, DOC, DOCX</p>
<p><strong>注意:</strong> あなたがMaharaにアップロードしたファイルには直接アクセスすることができないため、これらのファイルを埋め込むことはできません。</p>

<h4>Googleカレンダー</h4>
<ol>
<li>Googleカレンダーを開いてください。</li>
<li>ページ右上にある「設定」をクリックして、「カレンダー設定」を選択してください。</li>
<li>タブメニューの「カレンダー」をクリックしてください。</li>
<li>あなたが埋め込みたいカレンダー名をクリックしてください。</li>
<li>「カレンダーの情報」ページに「カレンダーを埋め込む」セクションが表示されます。</li>
<li>カレンダーの概観をカスタマイズした後、テキストエリアより埋め込みコードをコピーしてください。</li>
<li>コピーしたものをGoogleAppsブロックに貼り付けてください。</li>
</ol>

<h4>Googleマップ</h4>
<ol>
<li>Googleマップを開いてください。</li>
<li>左上部にある「マイマップ」リンクをクリックしてください。</li>
<li>あなたが埋め込みたいマップ名をクリックしてください。</li>
<li>ページ右上にある「リンク」リンクをクリックしてください。</li>
<li>マップの概観をカスタマイズした後、テキストエリアより埋め込みコードをコピーしてください。</li>
<li>コピーしたものをGoogleAppsブロックに貼り付けてください。</li>
</ol>
<strong>注意:</strong> あなたのGoogleマップを埋め込みたい場合、ステップ2および3に従ってください。あなたが埋め込みたいGoogleマップを制限しない場合、ステップ2および3をスキップしてください。

<h4>Googleブックス</h4>
<ol>
<li>Googleブックスを開いてください。</li>
<li>あなたが埋め込みたい書籍を探してください。</li>
<li>「書籍のプレビュー」リンクまたはボタンをクリックしてください。</li>
<li>ページ右上にある「リンク」リンクをクリックしてください。</li>
<li>書籍の埋め込みコードをコピーしてください。</li>
<li>コピーしたものをGoogleAppsブロックに貼り付けてください。</li>
</ol>