<h3>ユーザがLDAPに存在しなくなった場合</h3>
<p>この設定ではあなたのインスティテューション内のユーザがLDAPサーバのレコードと合致しなくなった場合、cronがどのように動作するか決定します。</p>
<p><b>注意:</b> この設定は認証方法としてこの認証インスタンスを使用するユーザのみに適用されます。</p>
<dl>
<dt>何もしない</dt>
<dd>何も処理は実施されません (これは推奨設定です)。</dd>
<dt>ユーザアカウントを利用停止する</dt>
<dd>ユーザアカウントは利用停止されます。ユーザはログインすることができません。また、ユーザのコンテンツおよびページは閲覧できないようになります。データは削除されることはありません。LDAPレコードが復活した場合、cronにより利用停止を解除することができます。または管理者が手動で利用停止を解除することができます。</dd>
<dt>ユーザアカウントおよびコンテンツすべてを削除する</dt>
<dd><b>慎重に使用してください!</b> この操作ではコンテンツおよびページとともにユーザアカウントは削除されます。データはサーバより完全に削除されるため、元に戻すにはサーババックアップを必要とします。</dd>
</dl>