<h3>ユーザ属性として保存されているグループを同期する</h3>
<p>それぞれのLDAPユーザレコードにユーザが所属すべきグループを示す属性を含む場合、このオプションを有効にしてください。この設定により、LDAP同期cronは指定されたユーザ属性のユニーク値のグループをそれぞれ作成した後、ユーザを適切なグループ (属性に関して複数の値がある場合、複数グループ) に配置することになります。</p>