<h3>同期のための追加LDAPフィルタ</h3>
<p>ここにLDAPフィルタを入力してください。同期では、フィルタに合致するLDAPユーザのみ考慮します。</p>
<p>自動利用停止または自動削除を有効にしている場合、フィルタに<b>合致しない</b>あなたのインスティテューションのユーザアカウントすべてが利用停止または削除されてしまうため、この設定は慎重に使用してください。</p>
<p>例: uid=user*</p>