<h3>cronジョブ経由でグループを自動同期する</h3>
<p>LDAPサーバのレコードに基づき自動的にグループおよびメンバーシップを作成および更新するcronタスクを始動する場合、この設定を有効にしてください。デフォルトでは、このcronタスクは1日1回深夜 (サーバ時間) に実行されます。他の時間にスケジュールまたは他の設定でcronタスクを実行したい場合、auth_cronテーブル内のレコードを編集するか、「htdocs/auth/ldap/cli/」で提供される任意のコマンドスクリプトを使用してください。</p>

<p><b>注意:</b> グループを同期されるため、あなたは「LDAPオブジェクトとして保存されているグループを同期する」または「ユーザ属性として保存されているグループを同期する」を有効にする必要があります。</p>

<p>この設定により、グループメンバーを追加および削除することができます。LDAPレコード内にグループが存在しなくなった場合、当該グループのメンバーすべてはグループから削除されます。</p>

<p>cronが動作していない場合、この設定は無効となります。設定のインストラクションに関して、<a href="http://wiki.mahara.org/System_Administrator's_Guide/Installing_Mahara">インストールガイド</a>をご覧ください。</p>