<h3>cronジョブ経由でユーザを自動同期する</h3>
<p>LDAPサーバのレコードに基づいたユーザアカウントをcronタスクで自動作成および更新するには、この設定を有効にしてください。デフォルトでは、このcronタスクは毎日午前零時 (サーバ時間) に1回実行されます。あなたが別の時間または別の設定で実行をスケジュールしたい場合、「auth_cron」テーブルのレコードを編集するか、htdocs/auth/ldap/cli/sync_users.phpで提供される任意のコマンドラインスクリプトを使用してください。</p>

<p>cronが動作していない場合、この設定は影響を及ぼしません。設定方法に関して、<a href="http://wiki.mahara.org/System_Administrator's_Guide/Installing_Mahara">インストレーションガイド</a>をご覧ください。</p>