<h3>更新</h3>
<p>それぞれのトピック左側にあるチェックボックスをチェックして、トピックを選択してください。そして、選択したトピックを更新するため、処理を選択してください。</p>
<p><strong>メール購読</strong>: 選択したトピックに投稿された場合、あなたに通知メールが送信されます。</p>
<p><strong>メール購読解除</strong>: 選択したトピックに投稿された場合、あなたに通知メールは送信されません。</p>
<p><strong>スティッキー</strong>: 選択したトピックがすべてのページトップに表示されます。</p>
<p><strong>スティッキー解除</strong>: 選択したトピックはすべてのページトップに表示されません。</p>
<p><strong>オープン</strong>: 選択したトピックに対して、すべてのグループメンバーが投稿できます。</p>
<p><strong>クローズ</strong>: 選択したトピックに対して、グループ管理者およびフォーラムモデレータのみ投稿できます。</p>
<p><strong>移動</strong>: グループ管理者およびフォーラムモデレータのみ、選択したトピックを別のフォーラムに移動することができます。</p>