<h3>インデックス名</h3>

<p>これはサイトの検索機能で使用されるElasticsearchインデックス名です。同じElasticsearchクラスタを複数Maharaサイトのインデックスとして使用、または「バイパスインデックス」設定を使用して再インデックスしない限り、あなたはデフォルト値から変更する必要はありません。</p>
<p>この設定を新しい値に変更した場合、あなたは新しいインデックス作成を実行するため、「すべてのインデックスをリセットする」ボタンをクリックする必要があります。</p>
<p>この設定はウェブインターフェースから変更することはできません。あなたのconfig.php設定に次の値の行を追加することで変更することができます: <code>$cfg->plugin->search->elasticsearch->indexname</code></p>