<h3>Elasticsearchタイプ</h3>

<p>インデックスするカンマ区切りのエレメント一覧です。それぞれのエレメントは、search/elasticsearch/type配下のElasticsearchTypeサブクラスに合致する必要があります。</p>
<p>新しい検索タイプを実装する場合、または特定の検索タイプを無効にする場合以外、あなたはこの設定を変更する必要はありません。</p>

<p>この設定はウェブインターフェースから変更することはできません。あなたのconfig.php設定に次の値の行を追加することで変更することができます: <code>$cfg->plugin->search->elasticsearch->types</code></p>