<h3>バイパスインデックス名</h3>

<p>ほとんどの場合、この設定は空白のままにしてください。</p>
<p>この設定が反映された場合、Maharaは「インデックス名」フィールドに保存されたElasticsearchインデックスを探しますが、この名称のElasticsearchインデックスに新しいインデックスデータを読み込みます。</p>
<p>新しいインデックスにサイト全体を再インデックスしたい場合、しかし、再インデックスが終了するまで現在の検索機能を停止したくない場合、あなたは新しいインデックスのインデックスcronを指定するため、このフィールドを使用することができます。検索機能は引き続き古いインデックスを使用します。</p>
<p>キューが空になった時点で、このインデックス名をインデックス名フィールドにコピーしてください。</p>
<p>この設定はウェブインターフェースから変更することはできません。あなたのconfig.php設定に次の値の行を追加することで変更することができます: <code>$cfg->plugin->search->elasticsearch->analyzer</code></p>