<h3>認証ユーザ名</h3>

<p>ElasticsearchサーバへのアクセスにHTTP基本認証のユーザ名およびパスワードが必要な場合、あなたはここで<strong>ユーザ名</strong>を指定することができます (コアのElasticsearchソフトウェア自体にはユーザ名およびパスワードの機能は実装されていませんが、あなたはプラグインまたはプロクシ経由のアクセスにより、この機能を実現することができます)。</p>
<p>この設定はウェブインターフェースから変更することはできません。あなたのconfig.php設定に次の値の行を追加することで変更することができます: <code>$cfg->plugin->search->elasticsearch->username</code></p>