<h3>Elasticsearchポート</h3>

<p>Elasticsearchサーバにアクセスするためのポート番号です。</p>
<p>この設定はウェブインターフェースから変更することはできません。あなたのconfig.php設定に次の値の行を追加することで変更することができます: <code>$cfg->plugin->search->elasticsearch->port</code></p>