<h3>Elasticsearchホスト</h3>

<p>Elasticsearchサーバのホスト名またはIPアドレスです。</p>
<p>この設定はウェブインターフェースから変更することはできません。あなたのconfig.php設定に次の値の行を追加することで変更することができます: <code>$cfg->plugin->search->elasticsearch->host</code></p>