<h3>Elasticsearchアナライザ</h3>

<p>Elasticsearchアナライザは検索データベースの分析処理を実行します。</p>
<p>Marahaシステムは内蔵の<strong>mahara_analyzer</strong>を使用します。</p>
<p>あなたが他のアナライザを使用したい場合、カスタムアナライザに関して次のドキュメントをご覧ください:
<a href="http://www.elasticsearch.org/guide/reference/index-modules/analysis/custom-analyzer/">http://www.elasticsearch.org/guide/reference/index-modules/analysis/custom-analyzer/</a>
<p>この設定はウェブインターフェースから変更することはできません。あなたのconfig.php設定に次の値の行を追加することで変更することができます: <code>$cfg->plugin->search->elasticsearch->analyzer</code></p>
<p>あなたが何をしているか理解している場合を除き、デフォルトの「mahara_analyzer」から変更しないことをお勧めします。</p>