<h3>グループファイル</h3>
<p>グループファイルエリアは、あなたのグループページ内で使用する、共有フォルダおよびファイルのリポジトリ (保存場所) です。</p>
<p>あなたは、ドラッグ&ドロップにて、グループファイルおよびフォルダを整理することができます。</p>
<p>セキュリティ上の理由から、あなたのサイト管理者がいくつかのファイルタイプに関して、システムへのアップロードを制限する場合があります。</p>