<h3>マイファイル</h3>
<p>ファイルエリアは、あなたのポートフォリオ内で使用する、フォルダおよびファイルのリポジトリ (保存場所) です。</p>
<p>ファイルエリアにアップロードできるファイル数は、画面右側に表示されるクオータボックスに表示される、あなたに設定されたファイル保存容量の制限に依存します。</p>
<p>あなたは一度にアップロードするため、ダイアログボックスから複数のファイルを選択することができます。</p>
<p>ドラッグ&ドロップにて、あなたのファイルおよびフォルダを整理することができます。</p>
<p>セキュリティ上の理由から、あなたのサイト管理者がいくつかのファイルタイプに関して、システムへのアップロードを制限する場合があります。</p>