<h3>プロファイル写真</h3>

<p>プロファイル写真エリアでは、システム内の多くの場所で、あなたの氏名の横に表示されるイメージをアップロードすることができます。</p>

<p>1度に最大5つの写真をあなたのプロファイル写真エリアにアップロードすることができます。あなたがアップロードするイメージは、少なくとも16x16ピクセルの大きさにしてください。あなたがアップロードするイメージは、あなたのファイルクオータに加算されます。</p>

<p>あなたのデフォルトイメージは、他の人に対して、あなたの氏名の横に表示されます。また、あなたが作成するページで他のイメージを使用することもできます。</p>

<p><strong>注意:</strong> 現在、あなたのデフォルト写真ではない場合でも、すべてのプロファイル写真は、他のログインユーザからアクセスすることができます。他のユーザに表示したくない場合、プロファイル写真を削除してください。</p>