<h3>タグの選択</h3>
<p>あなたは無視したいタグと同様に表示結果を制限するために複数タグを追加することができます。</P>
<p>あなたが複数タグを選択した場合、一覧表示するためには選択された<strong>すべて</strong>のタグにブログエントリが合致する必要があります。</p>
<p>あなたの日誌エントリのタグが次のような場合:</p>
<ol>
<li>cats, domestic, animals</li>
<li>cats, domestic, animals, small</li>
<li>cats, domestic, animals, large</li>
<li>cats, wild, animals</li>
<li>cats, wild, animals, small</li>
<li>cats, wild, animals, large</li>
<li>dogs, wild, animals</li>
<li>dogs, wild, animals, small</li>
<li>dogs, wild, animals, large</li>
</ol>
<p>あなたは:</p>
<ul>
<li>タグ「animals」を選択することにより、ブロック内に日誌エントリすべてが表示されます。</li>
<li>タグ「cats」および「large」が選択された場合、日誌エントリ3および6が表示されます。</li>
<li>タグ「animals」および「large」が選択された場合、日誌エントリ3、6および9が表示されます。</li>
</ul>
<h4>除外タグ:</h4>
<p>選択したいタグの前にマイナス記号を付加することで、あなたは表示結果からタグを除外することができます。</p>
<p>あなたが:</p>
<ul>
<li>タグ「cats」を選択して、「domestic」を除外した場合 (「-domestic」を括弧なしで入力することにより除外します)、日誌エントリ4、5および6が表示されます。</li>
<li>タグ「wild」および「animals」を選択して、「small」および「large」を除外した場合 (「-small」「-large」を括弧なしで入力することにより除外します)、日誌エントリ4および7が表示されます。</li>
</ul>