<h3>ファイルをアップロードする</h3>
<p>あなたは、ファイルをいくつでも日誌エントリに添付することができます。日誌エントリに追加されたファイルは、自動的にあなたのファイルリポジトリの「日誌ファイル」フォルダに保存され、あなたのファイル保存クオータに反映されます。</p>
<p>ファイルをアップロードした後、投稿をキャンセルまたは保存せずに日誌エリアを閉じた場合、あなたのファイルリポジトリからファイルも削除されます。</p>
<p>あなたがイメージをアップロードした場合、HTMLエディタのイメージボタンを使用して、イメージを日誌エントリ内に埋め込むことができます。あなたは、サイズ、配置、枠線およびイメージ周囲のスペース幅を選択することができます。</p>
<p>また、他のウェブサイトへのリンクをイメージに埋め込むこともできます。あなたは、イメージのURLを入力すること、HTMLエディタに対してウェブサイトからイメージをドラッグ&ドロップすることもできます。イメージの使用に関して、あなたに適切な著作権許諾があることを確認してください。</p>
<p>最良の結果のため、イメージサイズは400x400ピクセル以下、それぞれのサイドのパッディングは5ピクセル以下にしてください。</p>