<h3>読み込み専用ノートコンテンツ</h3>
<p>ページオーナー以外のユーザにノートが所有されているとしても、あなたはノートをページに含むことができます。例えば、あなたには、あなたのグループの1つに属しているノートをパーソナルページ内に含むことができるパーミッションがあるとします。</p>
<p>あなたがそのようなコンテンツを含んだ場合、オーナーによりコンテンツが更新された時点で、パーソナルページ内に含んだコンテンツも常に自動的に更新されます。あなたが自分でコンテンツを更新したい場合、ページを経由してノートと同じオーナーとして更新する必要があります。</p>
<p>代わりに、あなたはこのコンテンツのコピーを作成することができます。あなたがコピーしたコンテンツを編集した場合、このページのみに影響が及びます。</p>