<h3>再利用可能なノートコンテンツ</h3>
<p>同じノートコンテンツを複数のブロックに含むことができます。そして、これらのブロックを異なるページに表示することができます。また、1つのブロック内のテキストを変更することにより、そのテキストが表示される他のすべてのページも更新されます。あなたのコンテンツメニューの下部にあるノートエリアにて、特定のコンテンツが含まれるページすべての一覧を閲覧することができます。</p>
<p>あなたがグループページまたはインスティテューションページを編集している場合、このテキストを他のグループまたはインスティテューションメンバーが自分たちのページに加えることができるということに留意してください。あなたがコンテンツを編集した場合、他のグループまたはインスティテューションのページも更新されます。</p>
<p>あなたは選択したノートのコピーを作成することもできます。あなたがコピーしたノートを編集した場合、変更はこのページにのみ影響を及ぼします。</p>